In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
df = pd.read_csv('bodyfat.csv')

# Exploratory Data Analysis

In [ ]:
df.head()

,Density,BodyFat,Age,Weight,Height,Neck,Chest,Abdomen,Hip,Thigh,Knee,Ankle,Biceps,Forearm,Wrist
0,1.0708,12.3,23,154.25,67.75,36.2,93.1,85.2,94.5,59.0,37.3,21.9,32.0,27.4,17.1
1,1.0853,6.1,22,173.25,72.25,38.5,93.6,83.0,98.7,58.7,37.3,23.4,30.5,28.9,18.2
2,1.0414,25.3,22,154.00,66.25,34.0,95.8,87.9,99.2,59.6,38.9,24.0,28.8,25.2,16.6
3,1.0751,10.4,26,184.75,72.25,37.4,101.8,86.4,101.2,60.1,37.3,22.8,32.4,29.4,18.2
4,1.0340,28.7,24,184.25,71.25,34.4,97.3,100.0,101.9,63.2,42.2,24.0,32.2,27.7,17.7

In [ ]:
df.shape

(252, 15)

In [ ]:
df.corr()

,Density,BodyFat,Age,Weight,Height,Neck,Chest,Abdomen,Hip,Thigh,Knee,Ankle,Biceps,Forearm,Wrist
Density,1.000000,-0.987782,-0.277637,-0.594062,0.097881,-0.472966,-0.682599,-0.798955,-0.609331,-0.553091,-0.495040,-0.264890,-0.487109,-0.351648,-0.325716
BodyFat,-0.987782,1.000000,0.291458,0.612414,-0.089495,0.490592,0.702620,0.813432,0.625201,0.559608,0.508665,0.265970,0.493271,0.361387,0.346575
Age,-0.277637,0.291458,1.000000,-0.012746,-0.171645,0.113505,0.176450,0.230409,-0.050332,-0.200096,0.017516,-0.105058,-0.041162,-0.085056,0.213531
Weight,-0.594062,0.612414,-0.012746,1.000000,0.308279,0.830716,0.894191,0.887995,0.940884,0.868694,0.853167,0.613685,0.800416,0.630301,0.729775
Height,0.097881,-0.089495,-0.171645,0.308279,1.000000,0.253710,0.134892,0.087813,0.170394,0.148436,0.286053,0.264744,0.207816,0.228649,0.322065
Neck,-0.472966,0.490592,0.113505,0.830716,0.253710,1.000000,0.784835,0.754077,0.734958,0.695697,0.672405,0.477892,0.731146,0.623660,0.744826
Chest,-0.682599,0.702620,0.176450,0.894191,0.134892,0.784835,1.000000,0.915828,0.829420,0.729859,0.719496,0.482988,0.727907,0.580173,0.660162
Abdomen,-0.798955,0.813432,0.230409,0.887995,0.087813,0.754077,0.915828,1.000000,0.874066,0.766624,0.737179,0.453223,0.684983,0.503316,0.619832
Hip,-0.609331,0.625201,-0.050332,0.940884,0.170394,0.734958,0.829420,0.874066,1.000000,0.896410,0.823473,0.558387,0.739273,0.545014,0.630090
Thigh,-0.553091,0.559608,-0.200096,0.868694,0.148436,0.695697,0.729859,0.766624,0.896410,1.000000,0.799170,0.539797,0.761477,0.566842,0.558685
Knee,-0.495040,0.508665,0.017516,0.853167,0.286053,0.672405,0.719496,0.737179,0.823473,0.799170,1.000000,0.611608,0.678709,0.555898,0.664507
Ankle,-0.264890,0.265970,-0.105058,0.613685,0.264744,0.477892,0.482988,0.453223,0.558387,0.539797,0.611608,1.000000,0.484855,0.419050,0.566195
Biceps,-0.487109,0.493271,-0.041162,0.800416,0.207816,0.731146,0.727907,0.684983,0.739273,0.761477,0.678709,0.484855,1.000000,0.678255,0.632126
Forearm,-0.351648,0.361387,-0.085056,0.630301,0.228649,0.623660,0.580173,0.503316,0.545014,0.566842,0.555898,0.419050,0.678255,1.000000,0.585588
Wrist,-0.325716,0.346575,0.213531,0.729775,0.322065,0.744826,0.660162,0.619832,0.630090,0.558685,0.664507,0.566195,0.632126,0.585588,1.000000

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 252 entries, 0 to 251
Data columns (total 15 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Density  252 non-null    float64
 1   BodyFat  252 non-null    float64
 2   Age      252 non-null    int64
 3   Weight   252 non-null    float64
 4   Height   252 non-null    float64
 5   Neck     252 non-null    float64
 6   Chest    252 non-null    float64
 7   Abdomen  252 non-null    float64
 8   Hip      252 non-null    float64
 9   Thigh    252 non-null    float64
 10  Knee     252 non-null    float64
 11  Ankle    252 non-null    float64
 12  Biceps   252 non-null    float64
 13  Forearm  252 non-null    float64
 14  Wrist    252 non-null    float64
dtypes: float64(14), int64(1)
memory usage: 29.7 KB

In [ ]:
df.isna().sum()

Density    0
BodyFat    0
Age        0
Weight     0
Height     0
Neck       0
Chest      0
Abdomen    0
Hip        0
Thigh      0
Knee       0
Ankle      0
Biceps     0
Forearm    0
Wrist      0
dtype: int64

# Model Building

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.svm import SVR
from sklearn import linear_model
from sklearn import tree
from sklearn import metrics
from sklearn.metrics import explained_variance_score
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

In [ ]:
y = df.BodyFat.copy()
X = df.drop('BodyFat',axis=1)

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

## Linear Regression

In [ ]:
LR = LinearRegression(fit_intercept=True)

In [ ]:
LR.fit(X_train,y_train)

LinearRegression()

In [ ]:
y_pred = LR.predict(X_test)

In [ ]:
print('Expanded Variance Score',explained_variance_score(y_test, y_pred))
print('Mean Absolute Error',mean_absolute_error(y_test, y_pred))
print('Mean Squared Error',mean_squared_error(y_test, y_pred))
print('R Sqaure',r2_score(y_test, y_pred))

Expanded Variance Score 0.9901648462391686
Mean Absolute Error 0.5668612815314495
Mean Squared Error 0.6258752119056262
R Sqaure 0.9901086631602338

## Support Vector Regression

In [ ]:
model = SVR(kernel='linear',gamma='auto')

In [ ]:
model.fit(X_train,y_train)

SVR(gamma='auto', kernel='linear')

In [ ]:
y_pred_svr = model.predict(X_test)

In [ ]:
print('Expanded Variance Score',explained_variance_score(y_test, y_pred_svr))
print('Mean Absolute Error',mean_absolute_error(y_test, y_pred_svr))
print('Mean Squared Error',mean_squared_error(y_test, y_pred_svr))
print('R Sqaure',r2_score(y_test, y_pred_svr))

Expanded Variance Score 0.6395886060874337
Mean Absolute Error 3.9494411507068454
Mean Squared Error 22.847957216841213
R Sqaure 0.6389107019524849

## Lasso Regression

In [ ]:
clf = linear_model.Lasso(alpha=0.5)

In [ ]:
clf.fit(X_train,y_train)

Lasso(alpha=0.5)

In [ ]:
y_pred_clf = clf.predict(X_test)

In [ ]:
print('Expanded Variance Score',explained_variance_score(y_test, y_pred_clf))
print('Mean Absolute Error',mean_absolute_error(y_test, y_pred_clf))
print('Mean Squared Error',mean_squared_error(y_test, y_pred_clf))
print('R Sqaure',r2_score(y_test, y_pred_clf))

Expanded Variance Score 0.6561165056902567
Mean Absolute Error 3.8240621028916317
Mean Squared Error 21.83754936919049
R Sqaure 0.6548791956338793

## Decision Tree

In [ ]:
DT = tree.DecisionTreeRegressor(max_depth=6)

In [ ]:
DT.fit(X_train,y_train)

DecisionTreeRegressor(max_depth=6)

In [ ]:
y_pred_DT = DT.predict(X_test)

In [ ]:
print('Expanded Variance Score',explained_variance_score(y_test, y_pred_DT))
print('Mean Absolute Error',mean_absolute_error(y_test, y_pred_DT))
print('Mean Squared Error',mean_squared_error(y_test, y_pred_DT))
print('R Sqaure',r2_score(y_test, y_pred_DT))

Expanded Variance Score 0.9869940529451966
Mean Absolute Error 0.35353696741854607
Mean Squared Error 0.825375666099773
R Sqaure 0.9869557563913072

## Random Forest

In [ ]:
from sklearn.ensemble import RandomForestRegressor

In [ ]:
regr = RandomForestRegressor(max_depth=7, random_state=0)

In [ ]:
regr.fit(X, y)

RandomForestRegressor(max_depth=7, random_state=0)

In [ ]:
y_pred_rf = regr.predict(X_test)

In [ ]:
print('Expanded Variance Score',explained_variance_score(y_test, y_pred_rf))
print('Mean Absolute Error',mean_absolute_error(y_test, y_pred_rf))
print('Mean Squared Error',mean_squared_error(y_test, y_pred_rf))
print('R Sqaure',r2_score(y_test, y_pred_rf))

Expanded Variance Score 0.9995368766153299
Mean Absolute Error 0.08443089666950435
Mean Squared Error 0.029357842353259455
R Sqaure 0.9995360284253458